<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>ショッピングカート</h2>
    </div>
    <% unless @cart_items.empty? %>
    <div class="col-sm-2 px-sm-0">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, class: "btn btn-danger float-right", id: "all-delete", method: :delete, data: { confirm: '削除しますか？' } %>
    </div>
    <% end %>
  </div>
  
    <% if @cart_items.empty? %>
    <div style="height: 200px;"></div>
    <div class="text-center">
      <h2>カートに商品が入っておりません</h2>
      <%= link_to "買い物を続ける", root_url, class: "btn btn-primary" %>
    </div>
    <div style="height: 200px;"></div>