@use '~bootstrap/scss/bootstrap';
header, nav {
  font-family: 'Kaushan', cursive, sans-serif;
}
.custom-footer-color {
    background-color: #f0cc98;
}

.custom-body {
    height: 750px;
}

.custom-header-color {
    background-color: #fff2e1;
}

.pagination {
  justify-content: center;
  margin: 0 auto;
}

.page {
  margin: 0 5px;
}