<div class="container">
  <div class="row">
    <%= render 'public/homes/genre', genres: @genres %>
    <div class="col-lg-10">
      <div class="container">
        <div class="row">
          <h2>商品一覧(全<%= @items_all.count %>件)</h2>
        </div>
      </div>
      <%= render 'public/items/item_image', items: @items %>
    </div>
  <%= paginate @items, class: "text-center" %>
  </div>
</div>
